<%- include('../partials/head.ejs') %>
<title><%= pageTitle %></title>
</head>



<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          <a href="/"><img src="../javascript_CSS/img/Logo/DT_main.png" height="80px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/getSignup" style="color: #009900"><i class="fa fa-sign-in" aria-hidden="true"></i> SIGNUP</a>
            </li>
        <!---<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="Login.html" style="color: #2196f3"><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</a>
            </li>-->
            
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-info col-lg-12 col-md-12 col-sm-12 col-12">
        <section class="signin col-sm-12" id="">
            <div class="box col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="signin-content">
                    <div class="signin-form">
                        <h2 class="form-title" style="color: #5bc0de">Log in</h2>
                        <% if (errorMessage) { %>
                            <div class="user-message user-message--error"><%= errorMessage %></div>
                        <% } %>
                        <form method="POST" action="/userHome" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_email"><i class="fa fa-user fa-1x"></i></label>
                                <input type="text" name="your_email" id="your_email" placeholder="Your Registered Email"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="fa fa-lock fa-1x"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <a href="/getForgotPassword">Forgot Password!</a> 
                            </div>
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                  <div class="form-group form-button">
                                      <a><input type="submit" name="login" id="login" class="btn btn-info" value="Log in"/></a>
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                  <div class="form-group form-button">
                                      <a href="/"><input type="button" name="back" id="back" class="btn btn-danger" value="Back"/></a>
                                  </div>
                              </div>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/end.ejs') %>