<%- include('../partials/head.ejs') %>
<title><%= pageTitle %></title>
</head>

<%- include('./admin_Navbar') %>

<body id="page-top">

    <div class="bg-danger col-lg-12 col-md-12 col-sm-12 col-12">
        <section class="all col-sm-12" id="dashboard">
            <div class="box_cart col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="all-content">
                    <div class="all-form">
                        <h2 class="form-title text-danger">Delivery Agent Details</h2>
                        <div class="justify-content-center">
                         <a href="/admin/addDelPerson"><button class="btn btn-primary" style="float: right;margin-bottom: 10px;">Add New Delivery Person</button></a>
                          </div>
                        <form method="POST" class="register-form" id="">
                          <div class="scroll">
                            <table class="table table-hover table-bordered" id="deliverytable">
                              <thead class="table-dark">
                                <tr>
                                  <th scope="col" >#</th>
                                  <th scope="col">Edit</th>
                                  <th scope="col">Remove</th>
                                  <th scope="col">First Name</th>
                                  <th scope="col">Last Name</th>
                                  <th scope="col">DOB</th>
                                  <th scope="col">Gender</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">City</th>
                                  <th scope="col">State</th>
                                  <th scope="col">Pincode</th>
                                  <th scope="col">Contact</th>
                                  <th scope="col">Email</th>   
                                </tr>
                              </thead>
                              <% if(dProfile.length){%>
                            <tbody>
                                 <tr>
                                  <% dProfile.forEach(function (delProfile, index) { %>
                                  <td><%= index + 1 %></td>
                                  <td><a href="/admin/updPerDelete?id=<%= delProfile._id %>"><i class="fa fa-edit fa-1x text-info"></i></a></td>
                                  <td><a href="/admin/delPerDelete?id=<%= delProfile._id %>"><i class="fa fa-trash-alt fa-1x text-warning remove"></i></a></td>
                                  <td><%= delProfile.firstName %></td>
                                  <td><%= delProfile.lastName %></td>
                                  <td class="edit"><%= delProfile.dateOfBirth %></td>
                                  <td class="edit"><%= delProfile.gender %></td>
                                  <td class="edit"><%= delProfile.addressOfPerson[0].area %></td>
                                  <td class="edit"><%= delProfile.addressOfPerson[0].city %></td>
                                  <td class="edit"><%= delProfile.addressOfPerson[0].state %></td>
                                  <td class="edit"><%= delProfile.addressOfPerson[0].pincode %></td>
                                  <td class="edit"><%= delProfile.contactNumber %></td>
                                  <td class="edit"><%= delProfile.emailId %></td>
                                 
                                </tr>
                                <% } )%>
                              </tbody>
                              <% } %>
                            </table>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
              
        </section>
    </div>    
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/end.ejs') %>